<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutils</title>
</head>
<body>
<h1>Welcome to text analyser</h1><br>
<h3>Enter text below</h3>
<form action = '/analyse' method = 'get'>
    <textarea name='text' style='width: 331px; height: 92px;'></textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <input type="checkbox" name="fullcaps"> UPPERCASE<br>
    <input type="checkbox" name="newlineremover"> New Line Remover<br>
    <input type="checkbox" name="extraspaceremover"> Extra Space Remover<br>
    <button type = 'submit'>Analyse text </button>
</form>
</body>
</html>